.menu-news-detail {
    background-color: white;
}

.menu-news-detail a {
    color: #777;
}

.clearfix {
    display: inline-block;
    margin-bottom: 30px;
}

.fix-img {
    overflow: hidden;
    max-height: 400px;
}