<div class="container-fluid partners block-content">
    <div class="hgroup title-space wow fadeInLeft" data-wow-delay="0.3s">
        <h1>TRUSTED partners</h1>
        <h2>Lorem ipsum dolor sit amet consectetur</h2>
    </div>
    <div id="partners" class="owl-carousel owl-theme owl-loaded owl-drag" data-pagination="false" data-navigation="true" data-min450="2" data-min600="2" data-min768="4" *ngIf="partners && partners.length>0">
        <div *ngFor="let it of partners" class="owl-stage-outer">
            <div class="owl-item">
                <a [href]="it.Url"><img [src]="baseFolder+it.imageUrl" [alt]="it.name"></a>
            </div>
        </div>
    </div>
</div>