<div id="owl-main-slider" class="owl-carousel owl-theme owl-loaded owl-drag" *ngIf="sliders && sliders.length > 0">
    <div class="item" *ngFor="let it of sliders">
        <img [src]="baseFolder+it.imageUrl" alt="slider">
        <div class="container-fluid">
            <div class="slider-content col-md-6 col-lg-6">
                <div style="display:table;">
                    <div style="display:table-cell; width:100px; vertical-align:top;">
                        <a class="prev owl-prev" (click)="prev()"><i class="fa fa-angle-left"></i></a>
                        <a class="next owl-next" (click)="next()"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div style="display:table-cell;">
                        <!-- <h1>{{it.name}}</h1> -->
                    </div>
                </div>
                <!-- <p>{{it.description}}<br>  -->
            </div>
        </div>
    </div>
</div>