
      <!-- <div class="cycle-menu">
        <div id="menu" class="menu">
          <div (click)="clickMenu()" id="trigger" class="btn trigger" style="margin-left: 23px;margin-top: 23px;">
            <span class="line"></span>
          </div>  


          <div class="rotater">
            <a data-scroll href="#services" class="fa btn btn-icon">
              <div class="margin-top-40px"></div>
            </a>
          </div> 

          
          <div class="rotater"  *ngFor="let x of listService">
            <a data-scroll href="#services" class="fa btn btn-icon">
              <div class="margin-top-40px">{{x.name}}</div>
            </a>
          </div> 
        </div>
      </div> -->

        

			
			
			
      <div class="navigation" id="nav">
        <div class="title "></div>
          <div class="item user1">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/1.png);background-size: contain;"></a>
             <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 88px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 1</span>
              <span style="font-size: 40px;font-weight: bold;float:right">01</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                  </div>
                  <div class="item user">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/2.png);background-size: contain;"></a>
                     
                     <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 88px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 2</span>
              <span style="font-size: 40px;font-weight: bold;float:right">02</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                  </div>
                  <div class="item home">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/3.png);background-size: contain;"></a>
  
                      <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 88px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 3</span>
              <span style="font-size: 40px;font-weight: bold;float:right">03</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                  </div>
                  <div class="item shop">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/4.png);background-size: contain;"></a>
                      <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 88px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 4</span>
              <span style="font-size: 40px;font-weight: bold;float:right">04</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                      
                  </div>
                  <div class="item camera">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/5.png);background-size: contain;"></a>
                     <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 88px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 5</span>
              <span style="font-size: 40px;font-weight: bold;float:right">05</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                     
                  </div>
                  <div class="item fav">
                      <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle" >
                      <a href="#" class="icon" style="background:url(/assets/VXTemplate/images/6.png);background-size: contain;"></a>
                    
                     <div class="discription" style="color: blue;
                  width: 250px;
                  border: 1px solid blue;
                  margin-left: 93px;
                  margin-top: -55px;
                  position: absolute;
                  padding:10px;
                  opacity:0;
                  transition:opacity 0.5s linear;
                  ">
              <span style="font-size: 25px;padding: 10px;font-weight: bold;">Tiêu đề 6</span>
              <span style="font-size: 40px;font-weight: bold;float:right">06</span>
               <div style="width:100%;">
               Just your regular twitter-bootstrap popovers, but now wit
               Just your regular
               </div>
             </div>
                  </div>
              </div>
   
              