<div class="navigation" id="nav">
    <div class="title "></div>
    <div [class]="'item '+it.iconCss" *ngFor="let it  of listService; let i = index">
        <img src="assets/VXTemplate/images/bg_user.png" alt="" width="199" height="199" class="circle">
        <a href="#services" class="icon"></a>
        <div class="discription" >
            <span style="font-size: 25px;padding: 10px;font-weight: bold; width: 200px">{{it.name}}</span>
            <span style="font-size: 40px;font-weight: bold;float:right; color:yellow">0{{(i+1)}}</span>
            <div style="width:100%;">
                {{it.description}}
            </div>
        </div>
    </div>
</div>  
<script type="text/javascript">
    $(function () {
        $('#nav > div.item').hover(
            function () {
                var $this = $(this);
                $this.find('img').stop().animate({
                    'width': '90px',
                    'height': '90px',
                    'top': '-13px',
                    'left': '-5px',
                    'opacity': '1.0'
                }, 500, 'easeOutBack', function () {
                    $(this).parent().find('ul').fadeIn(700);
                });

                $this.find('a:first,h2').addClass('active');
            },
            function () {
                var $this = $(this);
                $this.find('ul').fadeOut(500);
                $this.find('img').stop().animate({
                    'width': '60px',
                    'height': '60px',
                    'top': '0px',
                    'left': '0px',
                    'opacity': '0.1'
                }, 2000, 'easeOutBack');

                $this.find('a:first,h2').removeClass('active');
            }
        );
    });
</script>