<div class="navigation" id="nav">
    <div class="bg-title-menu wow zoomInUp ">
    </div>
    <div class="title "></div>
    <div [class]="'item '+it.iconCss" *ngFor="let it  of listService; let i = index">
        <div class="iconshowhover">
            <span class="service-title">{{it.name}}</span>
        </div>
        <a href="#services" class="icon"></a>
        <!-- <div class="discription">
            <span style="font-size: 25px;padding: 10px;font-weight: bold; width: 200px">{{it.name}}</span>
            <span style="font-size: 40px;font-weight: bold;float:right; color:yellow">0{{(i+1)}}</span>
            <div style="width:100%;">
                {{it.description}}
            </div>
        </div> -->
    </div>

</div>