<section id="services">
    <div class="header-services text-center hgroup wow zoomInUp">
        <h2 class="header-content">SERVICES</h2>
    </div>
    <div class="container">
        <div class="row mar-top-30 ">
            <div class="col-sm-4  hgroup wow zoomInUp" *ngFor="let item of listService;">

                <div class="box text-center">
                    <div class="incon-box">
                        <div [class]="'box-icon '+item.iconCss+'-service'"></div>
                    </div>
                    <h3 class="box-tittle">
                        <a href="/services/{{item.id}}">{{item.name}}</a>
                    </h3>
                    <p class="box-text moreservice" innerHTML="{{item.content}}"></p>
                </div>

            </div>
        </div>
    </div>

</section>