

  <!-- news Post -->
<section id="news" >
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of posts">
        <div class="news-box"> <img src="assets/VXTemplate/images/news/1.png" class="img-responsive" alt="">
          <h3><a href="./news/news1.html">{{item.name}}</a></h3>
          <div class="post-date-author"> <span class="pull-left"> <i class="fa fa-calendar fa-1x"></i> <a href="#">2016-10-9</a> </span> <span class="pull-right"> <i class="fa fa-user fa-1x"></i> <a href="./news/news1.html">Nilanjan banerjee</a> </span> </div>
          <div class="news-cont"> {{item.description}}</div>
          <div class="btn-cont"><a href="./news/news1.html" class="btn-2 btn-primary">Read More</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.news Post --> 