<!-- news Post -->
<section id="news">
    <div class="text-center hgroup wow zoomInUp">
        <h2 class="header-content">NEWS</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3  hgroup wow zoomInUp" *ngFor="let item of posts">
                <div class="news-box"><img [src]="baseFolder+ item.imageUrl" class="img-responsive" alt="">
                    <h3 class="news-title"><a href="#">{{item.name}}</a></h3>
                    <div class="news-description"> {{item.description}}</div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.news Post -->
<div class="clearfix"></div>