.navbar-brand img {
    display: none;
}

.navbar-nav>li>.dropdown-menu a {
    color: #333;
}

.navbar-scroll img {
    display: block;
    margin-top: -10px;
    height: 60px;
}

.navbar-fixed-top .navbar-brand {
    margin: 0px;
}